* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #22092C;
    display: flex;
    justify-content: center;
}

.container{
    padding: 15px;
}

.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    height: 95vh;
    width: 100vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatbox--active {
    z-index: 123456;
    opacity: 1;
}

.chatbox__header {
    background: linear-gradient(93.12deg, #872341 0.52%, #872341 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header,
.chatbox__description--header {
    color: white;
}

.chatbox__messages {
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--operator {
    border-radius: 20px;
    background: #872341;
    color: white;
    margin-left: auto;
}

.messages__item--visitor {
    border-radius: 20px;
    background: #E0E0E0;
    margin-right: auto;
}

.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: linear-gradient(268.91deg, #872341 -2.14%, #872341 99.69%);
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.chatbox__send--footer {
    color: white;
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#recordButton{
    background:none;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: center;

}
button #microphoneIcon{
    width: 20px;
    height: 20px;
    color: white;
    font-size: 20px;
}
/* Add this class to change the color and apply the blink effect */
.recording {
    color: black; /* Change the color as desired */
    animation: blink 1s infinite; /* Adjust the duration of the blink effect */
}

#sending{
font-size: 20px;
}